body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
h1 {
  font-size: 55px;
  line-height: 0.6;
}
p {
  font-size: 18px;
}
span {
  color: rgb(221, 144, 0);
}
p {
  font-size: 18px;
  line-height: 1.7;
  padding-bottom: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(87, 87, 87);
  border-radius: 8px;
}
.topnav {
  float: right;
  margin-right: 150px;
}
#orderfood {
  display: flex;
  width: 100%;
}
#orderfood img {
  width: 750px;
  height: 750px;
  float: left;
}
.fistPart {
  margin-left: 120px;
  margin-top: 150px;
  width: 50%;
}
.button {
  background-color: rgb(255, 117, 67);
  font-size: 20px;
  color: aliceblue;
  padding: 18px 23px;
  border-radius: 28px;
  text-decoration: none;
  box-shadow: 5px 8px 20px rgb(255, 138, 96);
}
#aboutme {
  display: flex;
  margin-top: 80px;
  background-image: url(images/photo/7.png);
}
#aboutme img {
  margin-left: 160px;
}
.aboutpara {
  margin-left: 200px;
  margin-top: 150px;
  width: 30%;
}
#Recipies {
  margin-top: 70px;
  margin-left: 90px;
}
h2 {
  font-size: 40px;
  padding-top: 20px;
  margin: 0;
}
.my-recipies {
  text-align: center;
}
.my-recipies p {
  padding: 0px 400px;
}
.galary {
  display: flex;
}
.galarycard {
  margin: 0 35px;
  border-radius: 30px;
  width: 350px;
  padding: 20px 20px 0 20px;
  box-shadow: 10px 12px 30px rgb(136, 136, 136);
}
.galary img {
  width: 350px;
  height: 330px;
  border-radius: 30px;
}
#viewcount {
  margin: 150px 90px 150px 130px;
  border-radius: 30px;
  box-shadow: 10px 12px 50px rgb(136, 136, 136);
}
.views {
  display: flex;
  text-align: center;
}
.cont {
  padding: 0 120px;
}
footer {
  text-align: center;
  padding: 30px 0 50px 0;
  background-color: rgb(83, 83, 83);
  color: antiquewhite;
}
